.menuItem a{
  text-decoration: none;
  color: black;
}

.li{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
}

.signIn{
  margin: 5px;
  cursor: pointer;
}

.cartItemsNo{
  background-color: rgb(50, 141, 28);
  width: 13px;
  height: 13px;
  text-align: center;  
  border-radius: 100%;
  font-size: 15px;
  padding: 2px;
}
