.details ul {
  list-style: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh; */
}

.details li{
  margin-top: 10px;
}

.details {
  list-style: none;
}

.priceBox{
  background-color: rgba(128, 128, 128, 0.22);
  border-radius: 20px;
  padding: 30px;
}

.price, 
.stock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.img{
  width: 100%;
}