.links{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
}

.links:hover,
.activePath{
  background-color: rgb(44, 44, 61);
}


.main h3{
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}
