.links{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
}

.links:hover,
.activePath,
.logout:hover{
  background-color: rgb(44, 44, 61);
}


.main h3{
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}

.logout {
  margin-left: 10px;
  padding: 12px;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
  width: 96%;
  border: none;
  background: none;
  text-align: start;
  cursor: pointer;
}