.main input{
  width: 90%;
  height: 6vh;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 27, 42);
  color: rgb(171, 154, 154);
}

.main textarea{
  width: 90%;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 27, 42);
  color: rgb(171, 154, 154);
}

.button{
  height: 9vh;
  width: 97%;
  border-radius: 5px;
  cursor: pointer;
  background-color:rgb(0, 140, 255);
  font-size: large;
  border: none;
}