.containerB{
  color: white;
  padding: 10px;
  min-height: 79.45vh;
}

.container{
  color: rgb(0, 0, 0);
  padding: 10px;
  min-height: 79.45vh;
}

.cart {
  display: grid;
  grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
}

.cart div:nth-child(3){
  align-items: center;
  text-align: end;
}

.imgAndName{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.img{
  width: 50px;
  height: 50px;
}

.qty{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center;
  gap: 10px;
}

.qty button {
  width: 40px;
  border: none;
  background-color: rgb(62, 61, 61);
  height: 80%;
  border-radius: 10px;
  cursor: pointer;
}

.qty button:hover{
  background-color: rgba(102, 101, 101, 0.723)
}