.main{
  color: black;
  display: flex;
  flex-direction: row;
  gap: 28px;

  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.view{
  display: flex;
  flex-direction: column;
  text-align: center;

  cursor: pointer;
}

.view div{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}